<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Convert From</mat-label>
    <mat-select formControlName="conversionType">
      <mat-option value="imperial">Imperial</mat-option>
      <mat-option value="metric">Metric</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select</mat-label>
      <mat-select formControlName="convertFrom" >
        <mat-option *ngFor="let fromUnit of listItems | keyvalue" value="{{fromUnit.value}}">{{fromUnit.value}}</mat-option>
      </mat-select>
  </mat-form-field>
</form>